.App {
  text-align: center;
  position: relative;
}

.App-logo {
  width: 100%;
  height: 100%;
}

.input {
  position: fixed;
  top: 50%;
}

.back {
  /* background-image: url("./logo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw; */
}

.date {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 13%;
  /* display: none; */
  width: 60%;
  transform: translateX(-50%);
  /* font-family: 'AlibabaPuHuiTi-Medium'; */
  left: 50%;
  background-color: transparent;
}

.time {
  color: white;
  position: absolute;
  font-size: 54px;
  top: 5%;
  width: 60%;
  transform: translateX(-50%);
  left: 50%;
  background-color: transparent;
}

.locate {
  color: black;
  position: absolute;
  font-size: 17px;
  top: 21.5%;
  width: 50%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.heyan {
  position: absolute;
  top: 54.5%;
  left: 30%;
  /* width: 50%; */
  zoom: 0.6;
  left: 51%;
}

.name {
  color: black;
  position: absolute;
  font-size: 19px;
  top: 18.5%;
  width: 60px;
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 7%;
  background-color: white;
}

.within {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  font-size: 17px;
  top: 65%;
  font-weight: 400;
  width: 120px;
  /* font-family: 'AlibabaPuHuiTi-Medium'; */
  left: 12%;
  background-color: #1E99F9;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
