.App {
  text-align: center;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.input {
  position: fixed;
  top: 50%;
}

.back {
  /* background-image: url("./logo.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw; */
}

.date {
  color: rgb(43, 172, 98);
  position: absolute;
  font-size: 42px;
  top: 8%;
  width: 60%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.time {
  color: rgb(43, 172, 98);
  position: absolute;
  font-size: 55px;
  top: 15%;
  width: 60%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.locate {
  color: black;
  position: absolute;
  font-size: 17px;
  top: 29.5%;
  width: 50%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.name {
  color: black;
  position: absolute;
  font-size: 19px;
  top: 26%;
  width: 60px;
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 7%;
  background-color: white;
}

.within {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  font-size: 17px;
  top: 65%;
  font-weight: 400;
  width: 120px;
  /* font-family: 'AlibabaPuHuiTi-Medium'; */
  left: 12%;
  background-color: #1E99F9;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
