.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  width: 100%;
  pointer-events: none;
}

.date {
  color: rgb(43, 172, 98);
  position: absolute;
  font-size: 42px;
  top: 73px;
  width: 60%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.time {
  color: rgb(43, 172, 98);
  position: absolute;
  font-size: 55px;
  top: 125px;
  width: 60%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.locate {
  color: black;
  position: absolute;
  font-size: 17px;
  top: 243px;
  width: 50%;
  transform: translateX(-50%);
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 50%;
  background-color: white;
}

.name {
  color: black;
  position: absolute;
  font-size: 19px;
  top: 214px;
  width: 60px;
  font-family: 'AlibabaPuHuiTi-Medium';
  left: 30px;
  background-color: white;
}

.within {
  color: rgba(255, 255, 255, 0.7);
  position: absolute;
  font-size: 17px;
  top: 532px;
  font-weight: 400;
  width: 120px;
  /* font-family: 'AlibabaPuHuiTi-Medium'; */
  left: 51px;
  background-color: #1E99F9;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
